{% extends 'upload/home.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'upload/login.css' %}">
{% endblock %}
{% block body %}
<form action="{% url 'loginView' %}" method="POST">
    {% csrf_token %}
    <label for="Name">Username</label>
    <input type="text" name="username" placeholder="Enter user name"/>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter password" />
    <input type="submit" value="login" />
</form>
{% endblock %}