<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    {% block head %}{% endblock %}
</head>

<body>
    {% if my_messages %}
    <!-- Button trigger modal -->
    <button id="modalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="display: none;">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div style="border-radius: 2.5mm;">
                {% if my_messages.success %}
                <div class="modal-header alert-success d-flex align-items-center"
                    style="border-radius: 2.5mm; border:2px solid transparent; border-color: #badbcc;">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    {% elif my_messages.warning %}
                    <div class="modal-header alert-warning d-flex align-items-center"
                        style="border-radius: 2.5mm; border:2px solid transparent; border-color: #ffecb5;">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                            <use xlink:href="#exclamation-triangle-fill" />
                        </svg>
                        {% elif my_messages.error %}
                        <div class="modal-header alert-danger d-flex align-items-center"
                            style="border-radius: 2.5mm; border:2px solid transparent; border-color: #f5c2c7;">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            {% endif %}
                            <p class="modal-title" id="exampleModalLabel">{{ my_messages.message }}</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'main:home' %}">Fake Passport Detector</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <a class="offcanvas-title" id="offcanvasNavbarLabel" href="{% url 'main:home' %}"
                                style="text-decoration: none; color: white;">
                                <h5>Fake Passport Detector</h5>
                            </a>
                            <button type=" button" class="btn-close btn-close-white text-reset"
                                data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                {% if request.session.issuer %}
                                <li class="nav-item" style="padding-right: 14px;">
                                    <a class="nav-link" href="{% url 'main:uploadPage' %}">
                                        <i class="fa fa-upload" aria-hidden="true" style="padding-right: 6px;"></i>
                                        Upload Passport
                                    </a>
                                </li>
                                <li class="nav-item" style="padding-right: 14px;">
                                    <a class="nav-link" href="{% url 'main:updatePageInitial' %}">
                                        <i class="fa fa-refresh" aria-hidden="true" style="padding-right: 6px;"></i>
                                        Update Passport
                                    </a>
                                </li>
                                {% elif request.session.verifier %}
                                <li class="nav-item" style="padding-right: 14px;">
                                    <a class="nav-link" href="{% url 'main:reportFakePassport' %}">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"
                                            style="padding-right: 6px;"></i>
                                        Report Fake Passport
                                    </a>
                                </li>
                                {% endif %}
                                <li class="nav-item dropdown" style="padding-right: 14px;">
                                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true" style="padding-right: 6px;"></i>
                                        {{ request.user }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                                        aria-labelledby="offcanvasNavbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'main:logoutView' %}">
                                                <i class="fa fa-key" aria-hidden="true" style="padding-right: 6px;"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            {% block body %}
            {% endblock %}

            {% if my_messages %}
            <script>
                var modalButton = document.getElementById("modalButton")
                modalButton.click();
            </script>
            {% endif %}
</body>

</html>
