{% extends 'layout.html' %}

{% block title %}Update Passport{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<script>
    let inputValues = []
    document.addEventListener("DOMContentLoaded", () => {
        updateForm = document.getElementById("updateForm")
        inputs = updateForm.getElementsByTagName("input")
        options = updateForm.getElementsByTagName('option')
        gender = document.querySelector('input[name="gender"]:checked').value
        for (let [key, element] of Object.entries(inputs)) {
            if (element.type == "text" || element.type == "date") {
                inputValues.push(element.value)
            }
        }
        inputValues.push(gender)
    })
    function checkDifference(event) {
        event.preventDefault()
        checkValues = []
        updateForm = document.getElementById("updateForm")
        inputs = updateForm.getElementsByTagName("input")
        for (let [key, element] of Object.entries(inputs)) {
            if (element.type == "text" || element.type == "date") {
                checkValues.push(element.value)
            }
            if (element.type == "file") {
                updateForm.submit()
            }
        }
        checkValues.push(document.querySelector('input[name="gender"]:checked').value)
        if (checkValues.length === inputValues.length && checkValues.every(function (value, index) { return value === inputValues[index] })) {
            var modalButton = document.getElementById("modalButton")
            modalButton.click()
        } else {
            updateForm.submit()
        }
    }
</script>
{% endblock %}

{% block body %}
<style>
    .invalid-feedback {
        display: block;
    }

    .my_card {
        width: 98%;
    }

    @media only screen and (min-width: 600px) {
        .my_card {
            width: 80%;
        }
    }
</style>
<!-- Button trigger modal -->
<button id="modalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    style="display: none;">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="border-radius: 2.5mm;">
            <div class="modal-header alert-warning d-flex align-items-center"
                style="border-radius: 2.5mm; border:2px solid transparent; border-color: #ffecb5;">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <p class="modal-title" id="exampleModalLabel">No New Changes Made</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center m-3 my-5">
    <div class="card shadow p-4 my_card" style="border-radius: 3mm;">
        <form id="updateForm" action="" method="POST" enctype="multipart/form-data" onsubmit="checkDifference(event)">
            {{ form.media }}
            {% csrf_token %}

            <h2 style="text-align: center; margin-bottom: 40px;">UPDATE PASSPORT DETAILS</h2>

            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center" style="margin: auto;">
                        <div style="width: 240px;">
                            <img class="img-thumbnail rounded mx-auto d-block"
                                src="data:image/png;base64,{{ images.0 }}" alt="Current FaceId Image">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center" style="margin: auto;">
                        <div style="width: 240px;">
                            <img class="img-thumbnail rounded mx-auto d-block"
                                src="data:image/png;base64,{{ images.1 }}" alt="Current Sign Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.faceId|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.sign|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        {{ form.type|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.countryCode|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.passNum|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.surname|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.holderName|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        {{ form.gender|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.nationality|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.dob|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.placeOfBirth|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.placeOfIssue|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.dateOfIssue|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.dateOfExpiry|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.father|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.mother|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.spouse|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {{ form.address_1|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.address_2|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.address_3|as_crispy_field }}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.oldPassNum|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.oldPlaceIssue|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.oldDateIssue|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.fileNum|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around mt-3">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
