{% extends 'layout.html' %}

{% block title %}Upload Passport{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<style>
    .invalid-feedback {
        display: block;
    }

    .my_card {
        width: 98%;
    }

    @media only screen and (min-width: 600px) {
        .my_card {
            width: 80%;
        }
    }
</style>
<div class="d-flex justify-content-center m-3 my-5">
    <div class="card shadow p-4 my_card" style="border-radius: 3mm;">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.media }}
            {% csrf_token %}

            <h2 style="text-align: center; margin-bottom: 40px;">UPLOAD PASSPORT DETAILS</h2>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.faceId|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.sign|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        {{ form.type|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.countryCode|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.passNum|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.surname|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.holderName|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        {{ form.gender|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.nationality|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.dob|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.placeOfBirth|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.placeOfIssue|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.dateOfIssue|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.dateOfExpiry|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.father|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.mother|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.spouse|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {{ form.address_1|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.address_2|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.address_3|as_crispy_field }}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.oldPassNum|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.oldPlaceIssue|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.oldDateIssue|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.fileNum|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around mt-3">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
