{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Verify Passport{% endblock %}

{% block body %}
<style>
    .my_card {
        width: 98%;
    }

    @media only screen and (min-width: 600px) {
        .my_card {
            width: 80%;
        }
    }
</style>
<div class="d-flex justify-content-center m-3 my-5">
    <div class="card shadow p-4 my_card" style="border-radius: 3mm;">
        <h2 style="text-align: center; margin-bottom: 40px;">VERIFY PASSPORT DETAILS</h2>
        <div class="col-md-12 mb-3">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center" style="margin: auto;">
                    <div style="width: 240px; text-align: center;">
                        <figure>
                            <img class="img-thumbnail rounded mx-auto d-block"
                                src="data:image/png;base64,{{ images.0 }}" alt="Current FaceId Image">
                            <figcaption>चेहरा छवि/Face Image</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center" style="margin: auto;">
                    <div style="width: 240px; text-align: center;">
                        <figure>
                            <img class="img-thumbnail rounded mx-auto d-block"
                                src="data:image/png;base64,{{ images.1 }}" alt="Current Sign Image">
                            <figcaption>हस्ताक्षर/Signature</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    {{ form.type|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.countryCode|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.passNum|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.surname|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.holderName|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    {{ form.gender|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.nationality|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.dob|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.placeOfBirth|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.placeOfIssue|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.dateOfIssue|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.dateOfExpiry|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.father|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.mother|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.spouse|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            {{ form.address_1|as_crispy_field }}
        </div>
        <div class="col-md-12">
            {{ form.address_2|as_crispy_field }}
        </div>
        <div class="col-md-12">
            {{ form.address_3|as_crispy_field }}
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.oldPassNum|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.oldPlaceIssue|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.oldDateIssue|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    {{ form.fileNum|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
